<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<meta charset="UTF-8">
<head data-th-replace="~{inc/head :: head}">
</head>
<body>
	<header data-th-replace="~{inc/header :: header}" >

	</header>
	
	<nav data-th-replace="~{inc/nav :: navigation}">
	</nav>
	
	<main class="container-fluid">
		<div class="row justify-content-md-center">
			<section data-th-replace="~{inc/todoadd :: todoadd}"></section>
			<section data-th-replace="~{inc/todolist :: todolist}"></section>
		</div>
	</main>
	

</body>
</html>