<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhml" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<meta charset="UTF-8">
<head data-th-replace="~{inc/head :: head}">
</head>
<body>
	<header data-th-replace="~{inc/header :: header}" >

	</header>
	
	<nav data-th-replace="~{inc/nav :: navigation}">
	</nav>
	
	<main class="container">
		<div class="row justify-content-md-center">
			<div class="col-sm-4">
				<h1>Please Log In</h1>
				<div th:if="${param.error}">
					Invalid username and password.</div>
				<div th:if="${param.logout}">
					You have been logged out.</div>
				<form th:action="@{/login}" class="form" method="post">
					<div>
					<input class="form-control" type="text" name="username" placeholder="Username"/>
					</div>
					<div>
					<input class="form-control"  type="password" name="password" placeholder="Password"/>
					</div>
					<input class="btn btn-sm btn-block btn-outline-primary"  type="submit" value="Log in" />
				</form>
			</div>
		</div>

	
		
	</main>
</body>
</html>